<div class="box-form">
    <div class="left">
        <div class="overlay">
            <h1>Welcome to your shop</h1>

        </div>
    </div>


    <div class="right">
        <h3>Login</h3>

        <div class="inputs">
            <input type="text" placeholder="user name">
            <br>
            <input type="password" placeholder="password">
        </div>

        <br><br>

        <div class="remember-me--forget-password">
            <!-- Angular -->
            <label>
                <input type="checkbox" name="item" checked />
                <span class="text-checkbox">Remember me</span>
            </label>
            <p>forget password?</p>
        </div>

        <br>
        <button>Login</button>
    </div>

</div>